[user]
	name = "Dean Richer"
	email = dean.richer@complyadvantage.com
[alias]
	a = add
	b = branch
	c = commit
	l = log
	m = merge
	o = checkout
	ph = push
	pl = pull
	r = rebase
	rt = reset
	sh = stash
	sl = status
	t = tag

	bm = branch --merged
	d = diff --ignore-space-at-eol
	s = status -s
	ds = diff --staged --ignore-space-at-eol
	ln = log --name-status
	ls = log --oneline
	po = push origin
	puo = push -u origin
	ri = rebase -i
	rt1 = reset HEAD~

	# delete all merged branches other than main, master and the current branch
	bm-rm = !git branch --merged | grep -Ev -e '^(\\*|  ma(in|ster))' | xargs git branch -d
	# fetch origin and merge local default branch with upstream
	fm = !git remote show origin | sed -n "'/^  HEAD branch/ {s/.*: //p; q}'" | xargs -I ph git fetch origin ph:ph
	# switch to default branch
	od = !git remote show origin | sed -n "'/^  HEAD branch/ {s/.*: //p; q}'" | xargs git switch
	# list all files currently ignored by git
	show-ignored = ls-files -io --directory --exclude-standard
[core]
	editor = vim
	excludesfile = /home/deanr/.gitignore
[pull]
	rebase = true
[push]
	default = upstream
[pager]
	branch = false
