[user]
	name = Dean Richer
	email = dean.richer@refinitiv.com
[alias]
	a = add
	b = branch
	c = commit
	l = log
	m = merge
	o = checkout
	ph = push
	pl = pull
	r = rebase
	rt = reset
	sh = stash
	sl = status
	t = tag

	d = diff --ignore-space-at-eol
	s = status -s
	ds = diff --staged --ignore-space-at-eol
	dnl = diff --ignore-space-at-eol ':!*package-lock.json'
	ln = log --name-status
	ls = log --oneline
	po = push origin
	puo = push -u origin
	ri = rebase -i
	rt1 = reset HEAD~
	sns = show --name-status

	show-ignored = ls-files -io --directory --exclude-standard
[core]
	editor = vim
	excludesfile = /Users/dricher/.gitignore
[pull]
	rebase = true
[push]
	default = upstream
[pager]
	branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@git.sami.int.thomsonreuters.com:"]
	insteadof = https://git.sami.int.thomsonreuters.com/
[color]
	ui = auto
